.card-section {
    width: 100%;
    height: 88%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1%;
}

.card {
    width: 98%;
    height: 93%;
    min-width: 250px;
    background: #FFFFFF;
    padding: 3%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;

}

.icon {
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.amount {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #121B28;
}

.label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #121B28;
}

.action-icon {
    padding: 0.5rem;
    background-color: var(--grey9);
    border-radius: 100%;
    display: flex;
    justify-content: center;
}