<div class="page-title">
  Transaction History
</div>

<div class="table-responsive">
  <table class="table table-borderless">
    <thead>
      <tr class="table-header">
        
        <th scope="col">Type</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        <th scope="col">description</th>
      </tr>
    </thead>
    <tbody *ngFor="let row of transaction_history.data">
      <tr (click)="getTransactionDetail('app/transactions/' + row.id)">
        <td class="name"> 
          {{row.transaction_type}}
        </td>
        <td >
          <div class="type">
            <span class="icon1">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
                  <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                  <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z"/>
                  </svg>
                </span>
              <span>{{row.transaction_amount}}</span>
          </div>
          
        </td>
        <td>{{ row.transaction_date | date:'short'}}</td>
        <td>{{ row.transaction_description }}</td>
      </tr>


      
    </tbody>
  </table>

</div>