<div class="quick-transacton-section">
    <div class="page-title">
        Quick Transactions
    </div>
    <div class="quick-transaction">
        
        <div class="transactions">
            <div class="customer">
                <div class="image">
                    <div class="img">
                        <img src="/assets/images/cartoon/avartar.jpg" alt="...">
                    </div>
                </div>
            </div>

            <div class="customer">
                <div class="image">
                    <div class="img">
                        <img src="/assets/images/cartoon/avartar.jpg" alt="...">
                    </div>
                </div>
            </div>

            <div class="customer">
                <div class="image">
                    <div class="img">
                        <img src="/assets/images/cartoon/avartar.jpg" alt="...">
                    </div>
                </div>
            </div>

            <div class="customer">
                <div class="image">
                    <div class="img">
                        <img src="/assets/images/cartoon/avartar.jpg" alt="...">
                    </div>
                </div>
            </div>

            <div class="customer">
                <div class="image">
                    <div class="img">
                        <img src="/assets/images/cartoon/avartar.jpg" alt="...">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>