mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    width: 287px;
    height: 100%;
    background: #121B28;
}



.sidenav {
    height: 95%;
    display: grid;
    grid-template-rows: 1fr 1fr;

    padding: 5%;
    position: relative;
}

.cancel {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: var(--yellow5);
    padding: 0.3rem;
}

.small-sidenav {
    width: 5rem;
    padding: 1%;
    padding-top: 2%;
}

.section1 {
    margin-top: 10%;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.logo {
    font-family: var(--font-family-Inter);
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.02em;
    padding-left: 2rem;

    color: #A0A4A9;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.menu {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.item {
    margin-top: 1rem;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5%;
    padding-left: 2rem;

    font-family: var(--font-family-Inter);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #c8c7c7;


    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    border-radius: 12px;
}

.item:hover {
    background: hsla(0, 0%, 100%, 1);
    color: #121B28;
}

.item:active {
    background-color: hsla(0, 0%, 100%, 1);
    transform: scale(0.98);

    transition: background-color 0.5s;
}


/* nav {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    opacity: 0.6;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
} */



mat-sidenav-content {
    
}

.desktop-view {
    display: block;
}

.mobile-view {
    display: none;
}






@media(min-width: 450px){
    .desktop-view {
        display: block;
    }

    .mobile-view {
        display: none;
    }

}


/* sidenav styling start  */
.small-sidenav {
    display: none;
}

@media(min-width: 750px){
    .small-sidenav {
        display: block;
    }
}

/* sidenav styling end */