


<div class="registration-page-section" fxLayout=column fxFlex="100%">

<div class="home-section" fxLayout="row" fxLayoutAlign="center center">
    
    <div class="home" fxLayout="row wrap" fxFlex="100%" fxLayoutAlign="center start">
        <div class="section" fxLayout="row" fxFlex="60%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="start center">
            <div class="detail" fxFlex="65%" fxFlex.sm="100%" fxFlex.xs="100%">
                <div class="title">Manage Your Finance</div>
                <div class="body">
                    Already have an account 
                        you can <br> <a (click)="route('signin')">Signin here!</a>
                </div>
    
                <div class="splash">
                    <div class="img">
                        <img src="/assets/images/splash.png" alt="">
                    </div>
                </div>
            </div>
            <div class="image" fxShow fxShow.sm fxHide.xs fxflex="35%" fxFlex.sm="100%">
                <div class="img">
                    <img src="/assets/images/cartoon/cartoon.png" alt="image">
                </div>
            </div>
        </div>
        <div class="form" fxFlex="40%" fxFlex.sm="100%" fxFlex.xs="100%">
            <app-register></app-register>
        </div>
    </div>
</div>

</div>
