<div class="registration-page-section">
    
<app-menu (btnClick)="changeAuthType()" buttonType="register"></app-menu>

<div class="home-section">
    
    <div class="home">
        <div class="section">
            <div class="detail">
                <div class="title">Manage Your Finance</div>
                <div class="body">
                    Already have an account 
                        you can <br> <a (click)="route('signin')">Signin here!</a>
                </div>
    
                <div class="splash">
                    <div class="img">
                        <img src="/assets/images/splash.png" alt="">
                    </div>
                </div>
            </div>
            <div class="image">
                <div class="img">
                    <img src="/assets/images/cartoon/cartoon.png" alt="image">
                </div>
            </div>
        </div>
        <div class="form">
            <app-register></app-register>
        </div>
    </div>
</div>

</div>
