<table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Savings Name</th>
        <th scope="col">Goal</th>
        <th scope="col">Created On</th>
        <th scope="col">Amount saved</th>
      </tr>
    </thead>
    <tbody *ngFor="let row of savings.data">
      <tr (click)="getSavingsDetail('app/savings/' + row.id)">
        <td class="name"> 
            {{row.savings_name}}
        </td>
        <td >
          <div class="type">
              <span>{{row.savings_goal}}</span>
          </div>
          
        </td>
        <td>{{row.creation_date| date:'short'}}</td>
        <td>{{row.amount_saved}}</td>
      </tr>

      
    </tbody>
  </table>
