<div class="create-product-section">
    <div class="create-form">
        <mat-form-field>
            <mat-label>Savings Name</mat-label>
            <input matInput [(ngModel)]="savingsData.savings_name">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Savings Goal</mat-label>
            <input matInput [(ngModel)]="savingsData.savings_goal">
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <mat-label>Deposite amount</mat-label>
            <input matInput [(ngModel)]="savingsData.deposite">
            
          </mat-form-field>

          <mat-form-field>
            <mat-label>Deadline</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="savingsData.deadline">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          
    </div>
    
    <div class="submit-button">
        <button mat-raised-button color="primary" (click)="createProduct()" fxFlex="50%">
            <div *ngIf="loader" class="loader" fxFlex="10%">
                <app-loader></app-loader>
            </div>
             <span fxFlex="100%" *ngIf="!loader">Create Product</span>
        </button>
    </div>
</div>