

<!-- code on the dashboard -->
<div class="dashboard-section">
    <div class="dashboard app-container">

        <!-- layout start -->
        <!-- card section start -->
        <div class="card-section">
           <div class="cards">
                
                <app-dashboard-cards></app-dashboard-cards>
              
           </div>

        </div>
         <!-- card section end -->

         <!-- chart and quick transaction section start -->
        <div class="main-section">
            <div class="section1">
                
                <!-- chart section  -->
                <div class="charts">
                    <app-charts></app-charts>
                </div>
                <!-- chart section end -->

                <!-- transaction section -->
                <div class="transaction-history">
                    <app-transaction-history></app-transaction-history>
                </div>
                <!-- transaction section -->
            </div>
            <div class="section2">
                
                <!-- quick transaction section start -->
                <div class="quick-transactions">
                    <app-quick-transactions></app-quick-transactions>
                </div>
                <!-- quick transaction section end -->


                <!-- goals section start -->
                <div class="goals">
                    <app-financial-goals title="Macbook Pro" percentage="40%"></app-financial-goals>
                </div>
                <!-- goals section end -->
            </div>
        </div>
        


    </div>

    <!-- <div class="loader">
        <app-loader></app-loader>
    </div> -->
</div>
