.card-section {
    width: 100%;
    height: 100%;
}

.chart {
    width: 95%;
    height: 95%;
    padding: 2%;
}

.page-title {
    padding-left: 2%;
    padding-right: 2%;
    font-family: var(--font-family-Inter);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #121B28;
    margin-top: 0%;
}
