<div class="alawi-section">
    <div class="alawi app-container">
         
        <!-- tab section start -->
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="Create Savings">
               <app-create-savings></app-create-savings>
            </mat-tab>

            <mat-tab label="Savings">
                <app-savings-list></app-savings-list>
            </mat-tab>
        </mat-tab-group>
        <!-- tab section end -->

        
    </div>
</div>