
<app-menu (btnClick)="changeAuthType()" buttonType="signin"></app-menu>

<div class="home-section">
    <div class="home">
        <div class="detail">
            <div class="title">Manage Your Finance</div>
            <div class="body">
                if you don’t an account 
                    you can <br> <a (click)="route('register')">Register here!</a>
            </div>

            <div class="splash">
                <div class="img">
                    <img src="/assets/images/splash.png" alt="">
                </div>
            </div>
        </div>
        <div class="image">
            <div class="img">
                <img src="/assets/images/cartoon/cartoon.png" alt="image">
            </div>
        </div>
        <div class="form">
            <app-login></app-login>
        </div>
    </div>
</div>

