<div class="alawi-section">
    <div class="alawi app-container">
         
        <!-- tab section start -->
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="Create Product">
                <app-create-product-form></app-create-product-form>
            </mat-tab>

            <mat-tab label="Products">
                <app-products></app-products>
            </mat-tab>
        </mat-tab-group>
        <!-- tab section end -->

        
    </div>
</div>